name: TMDC Docker Image CI workflow

on:
  push:
    tags:
      - '*[0-9]+.*[0-9]+.*[0-9]-d*'

env:
  IMAGE_NAME: rubiklabs/grafana

jobs:
# For RELEASE STEPS

  dev-release:
    name: Release Build and Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    
    if: startsWith(github.ref, 'refs/tags/') && contains(github.ref, '-d')
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Build and push Docker images
      uses: docker/setup-buildx-action@v3.7.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.IMAGE_NAME }}
        tags: ${{ github.ref_name }}

    # - name: build docker
      # run: make build-tmdc-docker GITHUB_TAGS=${{github.ref_name}}

    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        sbom: true
        push: true
        provenance: mode=max
        platforms: linux/amd64
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |                   # Define build arguments here
          BINGO=false
          WIRE_TAGS=oss
          COMMIT_SHA=${{ github.sha }}
          BUILD_BRANCH=${{ github.ref_name }}
          BINGO=false
          COMMIT_SHA=$$(git rev-parse HEAD)
          BUILD_BRANCH=$$(git rev-parse --abbrev-ref HEAD) 

    # - name: push docker
    #   run: make push-tmdc-docker GITHUB_TAGS=${{github.ref_name}}